.btn {
    width: 20%;
    height: 30px;
    min-width: 150px;

    border-radius: 5em;
    border: 2px solid #005544ff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Langar', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background: #005544ff;
    color: white;
    transition: all .3s ease-in-out;
} .btn:hover {
    background: transparent;
    color: #005544ff;
    border: 2px solid #005544ff;
    font-weight: 700;
    transform: scale(1.2);
}

.btn-header {
    margin-bottom: 10px;
}

.btn-footer {
    margin: 10px;
}