@media screen and (max-width: 600px) {
    
    /* ALL */
    header, main, footer {
        width: 100%;
    }

    /* HEADER */
    .svg-title {
        width: 80%;
    }

    .subtitle {
        font-size: 4.5vw;
    }

    /* MAIN */
    /*  perfil  */
    .perfil {
        align-items: center;
        flex-direction: column;
    }

    .social-media {
        padding: 0;
        padding-bottom: 10%;
    }

    .perfil-txt {
        width: 100%;
    }

    /*  portfolio  */
    .contain {
        width: 45%;
        min-height: 200px;
        padding: 0;
    }

    .polaroid {
        width: 90%;
        height: 90%;
    }
    
    .internal h3 {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 712px) {
    /* FOOTER */
    .svg-bacco {
        order: 2;
        margin-bottom: 20px;
    }

    .svg-bacco img {
        min-width: 0;
    }

    .sm-footer {
        padding: 0;
        margin-bottom: 30px;
    }
}